h1{
    color:black;
    /* text-shadow: 3px 3px 5px black; */
    margin: 20px;
    text-align: center;

}

main{
    display: flex;
    height: 90vh;
    justify-content: center;
}

#left-box{
    display:flex;

    
    flex-direction: column;
}

#create-box{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer{
    text-align: center;
}
/* 

h1{
    color:black;
    text-shadow: 3px 3px 5px black;
    margin: 20px;


}

body {
    background-color:cornsilk;
    font-family: 'Caveat', cursive;
    
}

.container{
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;   
}

#create-note {

    width: 200px;
    background-color: #FFF;
    padding: 10px 32px;
    border: 1px solid #e0e0e0;
    font-size: 26px;
    outline: 0;
    transition: all 0.3s;
    cursor: pointer;
    font-family: 'Caveat', cursive;
    margin: 5px;

}
 
#note-text{
    box-shadow: 10px 10px 20px 0px black ;
    width: 300px;
    height: 300px;
    padding: 25px 25px 25px 25px;
    background-color: rgb(212, 178, 133);
    border: 5px solid black;

}


#check{
    position: absolute;
    right: 32%;
    top: 18%;
}

#exit{
    position: absolute;
    right: 28%;
    top: 18%;
}

#pin{
    position: absolute;
    right: 20px;
    top: 20px;
}

footer{
    text-align: center;
    height: 40px;
    width: 100%;
    margin-top: 50px;
}
  */ 